* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(../img/dockerballena.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.99;
}

article {
    width: 100%;
    height: auto;
}

#register {
    margin: 20px 20%;
    background-color: rgba(235, 235, 205, 0.7);
    padding: 5px 20%;
    border-radius: 3px;
}

form {
    margin: 90px 20%;
    background-color: rgba(235, 230, 300, 0.85);
    padding: 20px 20%;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-size: 2.1rem;
}

img {
    width: 2rem;
    height: auto;
    margin: 5px 15px;
    cursor: pointer;
}

input {
    padding: 15px 10px;
    margin: 5px 0px;
    width: 100%;
    color: #666;
    border-radius: 1px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: rgb(34, 139, 34);
    padding: 8px 13px;
    margin: 10px 0px;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 1s ease; /* La transición durará 0.3 segundos y será suave */ 
}

button[type="submit"]:hover {
    background-color: #57A639;
    transition: color 1s ease; /* La transición durará 0.3 segundos y será suave */
}

button[type="reset"] {
    float: right;
    background-color: #FFA420;
    padding: 8px 13px;
    margin: 10px 0px;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 1s ease; /* La transición durará 0.3 segundos y será suave */
    
}

button[type="reset"]:hover {
    background-color: #FF7514;
    transition: color 1s ease; /* La transición durará 0.3 segundos y será suave */    
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.89);
} 

a {
    color: #1100ffbb; /* Color normal del enlace */
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease; /* La transición durará 0.3 segundos y será suave */
}

a:hover {
    color: rgb(24, 220, 255); /* Nuevo color cuando el cursor está sobre el enlace */
    transition: color 0.3s ease; /* La transición durará 0.3 segundos y será suave */
}


a:focus {
    color: rgba(3, 3, 85, 0.466);
}

/* lo alto de la pantalla al menos que mida 500px para adaptar su pantalla */
@media (max-height:550px) {
    .content{
        height: 500px;
    }
}

@media (min-width:900px) {
    .content{
        padding: 1.8em;
    }
    table td{
        display: table-cell;
        width: auto;
    }
    th{
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
    }
}
    .content{
        padding: 1em;
    }
    td {
        display: block;
    }
    th{
        display: none;
    }
    td:nth-of-type(1){
        /* background-color: red;*/
        font-size: 1.5em;
        font-weight: bold;
        color: #642873;
    }
